<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= image_tag @slider.image.url(:small) %>
  <%= @slider.caption %>
</p>

<%= link_to 'Edit', edit_slider_path(@slider) %> |
<%= link_to 'Back', sliders_path %>
