<link href="http://labchem.cf/assets/bootstrap/css/signin.css" rel="stylesheet">
<div class="container">
<%= form_for(resource, html:{:class=>'form-signin', :role=>'form'}, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2 class="form-signin-heading">Login required</h2>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email,:class=>'form-control', :placeholder=>'E-mail',:required=>'required', autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password,:class=>'form-control', :placeholder=>'Password',autocomplete: 'off',:required=>'required' %>
    </div>

    <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
    <% end -%>

    <%= f.submit 'Login',:class=>'btn btn-lg btn-primary btn-block' %>

<% end %>
</div>