<!DOCTYPE html>
<html>
<%= render 'layouts/home_head' %>
<body <%= yield :style %>>
<div class="container">
  <%= render 'layouts/home_nav' %>

  <%= yield %>

</div>

<%= render 'layouts/home_js' %>

</body>
</html>
